html {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

ul {
  display: flex;
  font-size: 25px;
  font-weight: 700;
  list-style-type: none;
  margin: auto;
  text-align: center;
  margin-top: 1px;
}

.nav {
  background-color: #c2c2c2;
  width: 470px;
  padding: 10px;
  color: white;
}

.nav1:hover {
  background-color: grey;
  cursor: pointer;
  transition: 0.3s;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.ol {
  font-size: 45px;
  font-weight: 500;
  list-style-type: none;
  width: 500px;
  /* display: flex; */
}

.nav1 {
  background-color: #c2c2c2;
  width: 210px;
  padding: 10px;
  color: white;
  border: 3px solid black;
  margin: 3px;
  /* margin-right:600px ; */
}

.div {
  background-color: #c2c2c2;
  height: 40px;
  padding: 10px;
  color: white;
  text-align: center;
  border: 5px solid black;
}

h1 {
  text-align: center;
  margin: auto;
  font-size: 45px;
}

.body {
  background-color: #ffd4b8;
}

.body2 {
  background-color: #ffe59e;
}

p {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;

}

.body3 {
  background-color: #9effc0;
}

.body4 {
  background-color: #c2f0ff;
}

.img {
  width: 745px;
  height: 545px;
}

.img2 {
  width: 600px;
  height: 400px;
}

.img3 {
  width: 640px;
  height: 360px;
}

.img4 {
  width: 666px;
  height: 444px;
}

.body5 {
  background-color: #e8bdff;
}

.body6 {
  background-color: #ffbdbd;
}

.body7 {
  background-color: #f5b2d3;
}

.body8 {
  background-color: #989390;
}

.img5 {
  width: 740px;
  height: 465px;
}

.img6 {
  width: 745px;
  height: 563px;
}

.img7 {
  width: 730px;
  height: 488px;
}

.img8 {
  width: 728px;
  height: 568px;
}

.body9 {
  background-color: #ffffe5;
}

.video {
  margin: 10px;
}
.container{
  display: flex;
}
.nav2{
  background-color: #c2c2c2;
  width: 210px;
  padding: 10px;
  color: white;
  border: 3px solid black;
  margin: 3px;
  margin-left:1200px ;
}
.div2{
  display: flex;
}